<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="simpleBean" class="home.lev.playwithbeans.SimpleBean">

        <constructor-arg ref="bar"></constructor-arg>
        <constructor-arg ref="buz"></constructor-arg>

    </bean>

    <bean name="buz" class="home.lev.playwithbeans.Buz"/>
    <bean name="bar" class="home.lev.playwithbeans.Bar"/>

    <bean name="ClassWithStringArg" class="home.lev.playwithbeans.ClassWithStringArg">
        <constructor-arg index="0" value="FIRST"/>
        <constructor-arg index="1" value="SECOND"/>
        <constructor-arg index="2" value="333"/>
    </bean>

    <bean class="home.lev.playwithbeans.ClassRefersNamesInBean">

        <constructor-arg name="one" value="ONE"/>
        <constructor-arg name="two" value="TWO"/>
    </bean>

    <bean name="ClassSetterBased" class="home.lev.playwithbeans.ClassSetterBased">
        <property name="name" value="My name"/>
        <property name="address" value="My adress"/>
        <property name="bar">
            <ref bean="bar"/>
        </property>
    </bean>
    <bean class="home.lev.playwithbeans.ClassStaticBuilder" factory-method="createMe">
        <constructor-arg name="one" value="One value"/>
    </bean>



<bean class="home.lev.playwithbeans.ExampleWithList" name="exampleWithList">
    <property name="myint">
        <map>
            <entry key="one0" value="12"/>
            <entry key="one1" value="122"/>
            <entry key="one2" value="1222"/>
            <entry key="one3" value="12222"/>
        </map>
    </property>
    <property name="myList">
        <list>
            <value>"one0"</value>
            <value>"one1"</value>
            <value>"one2"</value>
        </list>

    </property>
</bean>


</beans>